<li><a href="https://vk.com/public213585321"><i class="fa icon-vk"></i></a></li>
<li><a href="https://github.com/nellvincent"><i class="fa icon-github"></i></a></li>
<li><a href="https://vk.com/nellvincent"><i class="fa icon-vk"></i></a></li>
<li><a href="https://t.me/damir_gerc"><i class="fa icon-telegram"></i></a></li>
<li><a href="https://t.me/damir_gerc"><i class="fa icon-telegram"></i></a></li>