<footer>

    <div class="footer-margin">
      <div class="social-footer">
        <%- include('contacts'); %>
      
      </div>     
      <div class="copyright"><%= copyright %></div>
      

    
    </div>


  </footer>