<header id="fullscreen">
    
    <div class="logo" id="full"><a class="ajax-link" href="index">THOMSOON</a></div>
    
      <div class="menu-index" id="button">
      <i class="fa icon-menu"></i>
      </div>

</header>