<div class="opacity-nav">

    <div class="menu-index" id="buttons" style="z-index:999999">
    <i class="fa icon-close"></i>
    </div>

<ul class="menu-fullscreen">
  <li><a class="ajax-link" href="single">Home</a></li>
  <li><a class="ajax-link" href="projects">Projects</a></li>
  <li><a class="ajax-link" href="about-us">About us</a></li>
  <li><a class="ajax-link" href="contact">Contact</a></li>
</ul>

</div>